@media screen and (max-width:830px) {

    .second>div>p:nth-child(1) {
        color: white;
        font-size: 28px;
        font-weight: 900;
    }
    
    .second>div>p:nth-child(2) {
        color: white;
        font-size: 16px;
        font-weight: 400;
        width: 30vw;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        
    }

}
@media screen and (max-width:610px){
  .mainsection{
    height: 1000px;
    width: 610px;
  }
  .b-box{
    height: 1000px;
    width: 610px;
  }
}
