.pop{
    position: relative;
    z-index: 2;
}

.rflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cflex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}